.primary{
    background-color: blue;
    height: 30px;
    width: 60px;
    border-radius: 8px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

.danger{
    background-color: rgb(255, 0, 64);
    height: 30px;
    width: 60px;
    border-radius: 8px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}
.submit_button{
    float: right;
    margin: 10px 20px;
}